<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
const num = ref(0);
function increase() {
  num.value++;
}
function reduce() {
  if (num.value > 0) {
    num.value--;
  }
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent />
        {{ num }}
      </v-col>
      <v-col>
        <SecondComponent />
        {{ num * 2 }}
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn @click="increase"> INCREMENT </v-btn>
      </v-col>
      <v-col>
        <v-btn @click="reduce"> DECREASE </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
